<div class = "flex">
    <div style="margin-left: 2px;">
        <div>
            <p>ALTURA E LARGURA DO RESET</p>
            <input id="H" size="1" [(value)]="tH" #textH>
            <input id="L" size="1" [(value)]="tL" #textL>
            <button mat-raised-button color="accent" style="margin: 4px; width: 180px; height: 36px;" (click)="createNewPic(255, 255, 255, textH.value, textL.value)">Resetar Imagem</button>
        </div>
        <div style="margin-left: 2px;">
            <p>COR DA LINHA</p>
            <span>R G B  </span>
            <input id="R" size="1" [(value)]="tR" #textR>
            <input id="G" size="1" [(value)]="tG" #textG>
            <input id="B" size="1" [(value)]="tB" #textB>
            <button mat-raised-button color="primary" style="margin: 4px; width: 137px;" (click)="changeColor(textR.value, textG.value, textB.value)">trocar cor</button>
        </div>
        <button (click)="fileInput.value = '';fileInput.click()" mat-raised-button color="accent" style="margin: 4px; width: 180px; height: 36px;"> Abrir Imagem </button>
        <input type='file' class='oculto' name='file' (change)='onChange(fileInput.files[0])' display="none" #fileInput>
    </div>
    <canvas id='draw' #draw width='150'  class='aspero oculto'></canvas>
</div>
