<app-image-uploader></app-image-uploader>
<button mat-raised-button style="margin: 4px; width: 180px;" color="primary" (click)="drawService.changeCurrentTool(0)">draw point</button>
<button mat-raised-button style="margin: 4px; width: 180px;" color="primary" (click)="drawService.changeCurrentTool(1)">draw line - equation</button>
<button mat-raised-button style="margin: 4px; width: 180px;" color="primary" (click)="drawService.changeCurrentTool(2)">draw line - parameter</button>
<button mat-raised-button style="margin: 4px; width: 180px;" color="primary" (click)="drawService.changeCurrentTool(3)">draw line - bresenham</button>
<button mat-raised-button style="margin: 4px; width: 180px;" color="primary" (click)="drawService.changeCurrentTool(4)">draw circle - equation</button><br>
<button mat-raised-button style="margin: 4px; width: 180px;" color="primary" (click)="drawService.changeCurrentTool(5)">draw circle - parameter</button>
<button mat-raised-button style="margin: 4px; width: 180px;" color="primary" (click)="drawService.changeCurrentTool(6)">draw circle - bresenham</button>
<button mat-raised-button style="margin: 4px; width: 180px;" color="primary" (click)="drawService.changeCurrentTool(7)">cohen-sutherland</button>
<button mat-raised-button style="margin: 4px; width: 180px;" color="primary" (click)="drawService.changeCurrentTool(8)">flood fill 4</button>
<button mat-raised-button style="margin: 4px; width: 180px;" color="primary" (click)="drawService.changeCurrentTool(9)">flood fill 8</button><br>
<app-image-visual></app-image-visual>