<div class="container">
  <canvas #canvasElement class="canvas"></canvas>
  <div class="options">
    <h1>Transformações</h1>
    <h2>Escala</h2>
    <table class="table">
      <tr class="center">
        <td colspan="2"></td>
        <td><label for="scale-x">X</label></td>
        <td><label for="scale-y">Y</label></td>
        <td><label for="scale-z">Z</label></td>
      </tr>
      <tr>
        <td>
          <input
            type="radio"
            id="mode-scale-local"
            value="mode-scale-local"
            [(ngModel)]="mode"
            name="mode"
          />
        </td>
        <td><label for="mode-scale-local">Local</label></td>
        <td>
          <input
            id="scale-x"
            [(ngModel)]="scaleXYZ[0]"
            class="small"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            id="scale-y"
            [(ngModel)]="scaleXYZ[1]"
            class="small"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            id="scale-z"
            [(ngModel)]="scaleXYZ[2]"
            class="small"
            type="number"
            step="0.1"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            type="radio"
            id="mode-scale-global"
            value="mode-scale-global"
            [(ngModel)]="mode"
            name="mode"
          />
        </td>
        <td><label for="mode-scale-global">Global</label></td>
        <td>
          <input
            id="scale-global"
            [(ngModel)]="scaleGlobal"
            class="small"
            type="number"
            step="0.1"
          />
        </td>
        <td colspan="2"></td>
      </tr>
      <tr></tr>
    </table>
    <h2>Translação</h2>
    <table class="table">
      <tr class="center">
        <td colspan="2"></td>
        <td><label for="translation-x">X</label></td>
        <td><label for="translation-y">Y</label></td>
        <td><label for="translation-z">Z</label></td>
      </tr>
      <tr>
        <td>
          <input
            type="radio"
            value="mode-translation"
            id="mode-translation"
            [(ngModel)]="mode"
            name="mode"
          />
        </td>
        <td></td>
        <td>
          <input
            id="translation-x"
            [(ngModel)]="translationXYZ[0]"
            class="small"
            type="number"
            step="1"
          />
        </td>
        <td>
          <input
            id="translation-y"
            [(ngModel)]="translationXYZ[1]"
            class="small"
            type="number"
            step="1"
          />
        </td>
        <td>
          <input
            id="translation-z"
            [(ngModel)]="translationXYZ[2]"
            class="small"
            type="number"
            step="1"
          />
        </td>
      </tr>
    </table>
    <h2>Rotação</h2>
    <table class="table">
      <tr>
        <td>
          <input
            type="radio"
            id="mode-rotation-origin"
            value="mode-rotation-origin"
            [(ngModel)]="mode"
            name="mode"
          />
        </td>
        <td><label for="mode-rotation-origin">Origem</label></td>
        <td><label for="rotation-axis">Eixo</label></td>
        <td>
          <select
            name=""
            [(ngModel)]="rotationAxis"
            id="rotation-axis"
            class="small"
          >
            <option value="x">X</option>
            <option value="y">Y</option>
            <option value="z">Z</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <input
            type="radio"
            id="mode-rotation-center"
            value="mode-rotation-center"
            [(ngModel)]="mode"
            name="mode"
          />
        </td>
        <td style="padding-right: 20px">
          <label for="mode-rotation-center">Centro do objeto</label>
        </td>
        <td>Graus</td>
        <td>
          <input
            [(ngModel)]="rotationDegrees"
            class="small"
            type="number"
            step="0.1"
          />
        </td>
      </tr>
    </table>
    <h2>Shearing</h2>
    <table class="table">
      <tr>
        <td rowspan="4">
          <input
            type="radio"
            value="mode-shearing"
            id="mode-shearing"
            [(ngModel)]="mode"
            name="mode"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[0][0]"
            class="small"
            id="shearing-a"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[0][1]"
            class="small"
            id="shearing-b"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[0][2]"
            class="small"
            id="shearing-c"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[0][3]"
            class="small"
            id="shearing-p"
            type="number"
            step="0.1"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            [(ngModel)]="transformationMatrix[1][0]"
            class="small"
            id="shearing-d"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[1][1]"
            class="small"
            id="shearing-e"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[1][2]"
            class="small"
            id="shearing-f"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[1][3]"
            class="small"
            id="shearing-q"
            type="number"
            step="0.1"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            [(ngModel)]="transformationMatrix[2][0]"
            class="small"
            id="shearing-g"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[2][1]"
            class="small"
            id="shearing-h"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[2][2]"
            class="small"
            id="shearing-i"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[2][3]"
            class="small"
            id="shearing-r"
            type="number"
            step="0.1"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            [(ngModel)]="transformationMatrix[3][0]"
            class="small"
            id="shearing-l"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[3][1]"
            class="small"
            id="shearing-m"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[3][2]"
            class="small"
            id="shearing-n"
            type="number"
            step="0.1"
          />
        </td>
        <td>
          <input
            [(ngModel)]="transformationMatrix[3][3]"
            class="small"
            id="shearing-s"
            type="number"
            step="0.1"
          />
        </td>
      </tr>
    </table>
    <br />
    <button
      [disabled]="!mode"
      mat-raised-button
      (click)="transform()"
      color="primary"
    >
      {{ !mode ? "Selecione uma operação" : "Transformar" }}
    </button>
  </div>
</div>
